<html>
  <head>
    <title>Flask-SocketIO-Chat</title>
  </head>
  <body
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    "
  >
    <h1 style="font-family: 'Courier New', Courier, monospace">
      Python Flask-SocketIO-Chat {{ room }}
    </h1>
    <form
      style="
        border: 1px solid black;
        padding: 2em;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       "
      method="POST"
    >
      {{ form.hidden_tag() }} {{ form.name.label }}: {{ form.name() }} {% for
      error in form.name.errors %}{{ error }}{% endfor %}<br />
      {{ form.room.label }}: {{ form.room() }} {% for error in form.room.errors
      %}{{ error }}{% endfor %}<br />
      {{ form.submit() }}
    </form>
  </body>
</html>
